body{
    background-image: url('./images/background_3.png');
    background-repeat: no-repeat;
    background-color: black;
    background-position: center 20%;
}

.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

.card-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}


h2{
    font-family: 'VT323',monospace;
    font-size: 32px;
    color: rgb(54, 216, 224);
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px #000000;
}

.dealer-container{
    margin-bottom: 195px;
    padding: 50px;
}

.player1-container{
    margin-bottom: 185px;
    padding: 50px;
}

#buttons{
    position: absolute;
    bottom: 60px;
}

.dealer-container h2 span,
.player1-container h2 span {
  display: block;
  margin-bottom: 200px;
}

button {
    background-color: #1f1f1f;
    color: #fff;
    font-size: 16px;
    font-family: 'VT323',monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #fff;
    border-radius: 4px;
  }
  
button:hover{
    background-color: #fff;
    color: #1f1f1f;
    border-color: #fff;
  }
  
